body{
   font-family: Arial, Helvetica, sans-serif;
   background-color: antiquewhite;
   padding: 20px;

}
.title{
    text-align: center;
    margin-bottom: 10px;

}
.timetable{
    width: 90%;
    margin: auto;
    border-collapse: collapse;
    background-color: rgb(150, 238, 238);
}
.timetable{
    border: 1px solid white;
    padding: 12px;
    text-align: center;
}
.timetable{
    border: 1px solid white;
    background-color: rgb(157, 206, 124);
    color: white;
}
.break{
    background-color: rgb(200, 223, 236);
    font-weight: 900;
}